#back {
  z-index: 1;
  position: fixed; top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1580519542036-c47de6196ba5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  font-family: 'Libre Baskerville', serif;
  color: black;
  background-color: rgb(60, 129, 73);
  border-style: groove;
  border-color: black;
  box-shadow: 10px 10px;
  cursor: pointer;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;
}

p {
  font-size: 20px;
}

#usInput {
  background-color: black;
}

